<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="Prof_treshold_1" value="0,5" />
		<add key="Prof_treshold_2" value="0,75" />
		<add key="Population" value="1000" />
		<add key="Generations" value="10000" />
		<add key="Tour_size_per" value="1" />
		<add key="Roulette_power" value="3" />
		<add key="Crossover_rate" value="0,7" />
		<add key="Mutation_rate_inverse" value="0,15" />
		<add key="Mutation_rate_swap" value="0,03" />
		<add key="Tabu_size" value="100" />
		<add key="Neighbour_size" value="25" />
		<add key="Temperature_start" value="30000" />
		<add key="Temperature_scaling" value="0,9997" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>